body {
  background-color: pink;
}
img {
  width: 300px;
  height: 300px;
}
div {
  padding-top: 100px;
}
.meImage {
  width: 100px;
  height: 100px;
  margin-top: -90px;
}
.nav-link {
  display: inline;
  margin-right: 15px;
}
